div#main {
 background-color: honeydew;
 /* position: relative; */
  /* margin:  10px;  */
  width: 100%;
  height: 120px;  
  /* padding: -10px;   */
  /* border: -10px;  */
  
}




#logo{
  width: 20%;
  height: 100%;

}

#slogan1 {
  background-color: yellow;
  font-size: 30px;
  text-align: center; 
  /* height: 114px; */
   margin: -140px 0px 0px 370px;
   position: relative;  
  /* top: 36px; */
  width: 45%;  
 }

 #slogan2 {
   background-color: green;
   font-size: 30px;
   text-align: center;
   margin: -10px 0px 0px 480px; 
   position: relative;  
   width: 40%;   
 }

 body{
   /* background-color:greenyellow; */
   /* background-image: url('images/fantasy.jpg'); */
   /* background-repeat: no-repeat; */
   /* margin-left: 7%;
   margin-right:7%; */
   /* border: 10px; */
   height: 100%;
   /* display: flex; */
  /* flex-direction: column; */
 }

div#leftcolumn{
  background-image: url('images/fantasy.jpg'); 
  
/* background-color: gray; */
 float: left;
 width: 80px;
 font-size: 5px;
 font-style: italic;
 height: 1000px;
 /* border-bottom: 10px; */

 }

 div#rightcolumn{
   background-image: url('images/fantasy.jpg');
   float: right;
   width: 80px;
   font-size: 5px;
   height: 1000px;

 }

 div#back_home{
   
   font-size: 25px;
   /* padding:5px; */
   position: relative;
   margin: 0px 0px 0px 100px;
   height: 60px;
   width: 150px;
   
 }


 

 #footer {
  background-color:cornflowerblue;
   height: 60px;
   text-align: center;
   /* position: relative; */
   font-style: inherit;
   font-family: 'Times New Roman', Times, serif;
   width: 100%;
   font-size: 15px;
   /* margin: 1500px 0px 0px 150px; */
   /* margin-top: -100px; */
   /* flex: 0 0 auto; */
   margin: 0 auto;
   /* padding: 0; */
   clear: right;

 }

 #footer_index{
  background-color:rebeccapurple;
   height: 80px;
   text-align: center;
   position: relative;
   font-style: inherit;
   font-family: 'Times New Roman', Times, serif;
   width: 80%;
   font-size: 25px;
   margin: 1500px 0px 0px 150px;
 }




 #menu{
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   position: relative;
   margin: 50px 0px 60px 130px;  
   padding:0px;
   width: 35%; 
   padding: 10px 0 0 0;
     list-style: none;
     background: #111;
     background: -moz-linear-gradient(#444, #111);
       background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
     background: -webkit-linear-gradient(#444, #111);
     background: -o-linear-gradient(#444, #111);
     background: -ms-linear-gradient(#444, #111);
     background: linear-gradient(#444, #111);
     -moz-border-radius: 50px;
     border-radius: 50px;
     -moz-box-shadow: 0 2px 1px #8eac00;
     -webkit-box-shadow: 0 2px 1px #8eac00;
     box-shadow: 0 2px 1px #8eac00;
     /* display: inline-block; */
   }
     #menu li
   {
      /* float: left; */
     padding: 0 0 10px 0;
     position: relative; 
      /* line-height: 0;  */
      /* display: inline; */
   } 
   #menu a
   {	
     /* float: left; */
     height: 25px;
     padding: 0 25px;
     color: #999;
     text-transform: uppercase;
     font: bold 12px/25px Arial, Helvetica;
     text-decoration: none;
     text-shadow: 0 1px 0 #000;
     
   }

   /* It is important thing */
   #menu li:hover > a
   {color: #fafafa;}
   *html #menu li a:hover /* IE6 */
   {color: #fafafa;}
   #menu li:hover > ul */
   /* {display: block;} */
   /* Sub-menu */
   /* #menu ul
   {
       list-style: none;
       margin: 0;
       padding: 0;
       display: none;
       position: absolute;
       top: 35px;
       left: 0;
       z-index: 99999;
       background: #444;
       background: -moz-linear-gradient(#444, #111);
       background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
       background: -webkit-linear-gradient(#444, #111);
       background: -o-linear-gradient(#444, #111);
       background: -ms-linear-gradient(#444, #111);
       background: linear-gradient(#444, #111);
       -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
       -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
       box-shadow: 0 0 2px rgba(255,255,255,.5);
       -moz-border-radius: 5px;
       border-radius: 5px;
   } */
   /* #menu ul ul
   {
     top: 0;
     left: 150px;
   } */
   /* #menu ul li
   {
       float: none;
       margin: 0;
       padding: 0;
       display: block;
       -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
       -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
       box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
   } */
   /* #menu ul li:last-child
   {
       -moz-box-shadow: none;
       -webkit-box-shadow: none;
       box-shadow: none;
   } */
    #menu ul a
   {
     padding: 10px;
     height: 10px;
     width: 130px;
     height: auto;
       line-height: 1;
       /* display: inline; */
       white-space: nowrap;
       /* float: none; */
     text-transform: none;
   }
   *html #menu ul a  IE6 */
   {height: 10px;}
   *:first-child+html #menu ul a /* IE7 */
   {height: 10px;} */


#sheet
  {
    border-bottom: 0cm;
  }

  #message_of_success p{
    font-size: 35px;
     background-color: #8eac00;

  }

  #message_of_success {
    text-align: center;
    width: 600px;
    margin: -1000px 100px 0px 400px;
    
    
  }

  #goods{
    margin-left: 2px;
    /* background-color: blue; */
  }
/* div#content {
  padding: 20px 5px 20px 40px;
  position: relative;
  width: 675px;
}
img.delete_user {
  border: 0;
}

div.user_profile {
  background-color: #CCC;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  padding: 10px 20px;
  width: 600px;
  -moz-border-radius: 10px;
}

div.user_profile h1 {
  border-bottom: 1px dotted black;
  font-size: 18px;
}

div.user_profile img.user_pic {
  border: solid;
  border-color: #ddd #aaa #aaa #ddd;
  border-width: 1px 2px 2px 1px;
  float: right;
  margin: 0 0 10px 25px;
  padding: 8px;
  width: 135px;
}

div.user_profile p {
  font-size: 14px;
  color: #333;
}

div.user_profile p.contact_info {
  clear: both;
}

div.user_profile ul {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



label {
  display: block;
  float: left;
  width: 150px;
  padding: 0 10px;
  margin: 5px 0 0;
  text-align: right;
}

form {
  margin: 0;
  padding: 0;
  min-width: 500px;
  width: 690px;
}

fieldset {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

fieldset br {
  clear: left;
}

form input, form textarea {
  margin: 5px 0 5px 5px;
}

.center {
  text-align: center;
}

img.error {
  float: right;
  padding-left: 20px;
}

.error_message {
  font-style: italic;
}

#messages {
  left: 33px;
  position: relative;
  top: 25px;
  width: 698px;
}

#messages div {
  border: 2px solid;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 0.7em;
  font-style: italic;
  min-height: 16px;
  padding: 5px 28px;
  position: relative;
  text-align: center;
}

