div#main {
 background-color: honeydew;
  width: 100%;
  height: 120px;  
}

#logo{
  width: 20%;
  height: 100%;
}

#slogan1 {
  background-color: yellow;
  font-size: 30px;
  text-align: center; 
  /* height: 114px; */
   margin: -140px 0px 0px 370px;
   position: relative;  
  width: 45%;  
 }

 #slogan2 {
   background-color: green;
   font-size: 30px;
   text-align: center;
   margin: -10px 0px 0px 480px; 
   position: relative;  
   width: 40%;   
 }

 body{
   height: 100%;
 }

div#leftcolumn{
  background-image: url('images/fantasy.jpg'); 
 float: left;
 width: 80px;
 font-size: 5px;
 font-style: italic;
 height: 1000px;
 }

 div#rightcolumn{
   background-image: url('images/fantasy.jpg');
   float: right;
   width: 80px;
   font-size: 5px;
   height: 1000px;

 }

 div#back_home{
   font-size: 25px;
   position: relative;
   margin: 0px 0px 0px 100px;
   height: 60px;
   width: 150px;
   
 }

 #footer {
  background-color:cornflowerblue;
   height: 60px;
   text-align: center;
   font-style: inherit;
   font-family: 'Times New Roman', Times, serif;
   width: 100%;
   font-size: 15px;
   margin: 0 auto;
   /* padding: 0; */
   clear: right;

 }

 #footer_index{
  background-color:rebeccapurple;
   height: 80px;
   text-align: center;
   position: relative;
   font-style: inherit;
   font-family: 'Times New Roman', Times, serif;
   width: 80%;
   font-size: 25px;
   margin: 1500px 0px 0px 150px;
 }

 #menu{
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   position: relative;
   margin: 50px 0px 60px 130px;  
   padding:0px;
   width: 35%; 
   padding: 10px 0 0 0;
     list-style: none;
     background: #111;
     background: -moz-linear-gradient(#444, #111);
       background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
     background: -webkit-linear-gradient(#444, #111);
     background: -o-linear-gradient(#444, #111);
     background: -ms-linear-gradient(#444, #111);
     background: linear-gradient(#444, #111);
     -moz-border-radius: 50px;
     border-radius: 50px;
     -moz-box-shadow: 0 2px 1px #8eac00;
     -webkit-box-shadow: 0 2px 1px #8eac00;
     box-shadow: 0 2px 1px #8eac00;
     /* display: inline-block; */
   }
     #menu li
   {
      /* float: left; */
     padding: 0 0 10px 0;
     position: relative; 
      /* line-height: 0;  */
      /* display: inline; */
   } 
   #menu a
   {	
     /* float: left; */
     height: 25px;
     padding: 0 25px;
     color: #999;
     text-transform: uppercase;
     font: bold 12px/25px Arial, Helvetica;
     text-decoration: none;
     text-shadow: 0 1px 0 #000;
     
   }

   /* It is important thing */
   #menu li:hover > a
   {color: #fafafa;}
   *html #menu li a:hover /* IE6 */
   {color: #fafafa;}
   #menu li:hover > ul */
   
    #menu ul a
   {
     padding: 10px;
     height: 10px;
     width: 130px;
     height: auto;
       line-height: 1;
       /* display: inline; */
       white-space: nowrap;
       /* float: none; */
     text-transform: none;
   }
   *html #menu ul a  IE6 */
   {height: 10px;}
   *:first-child+html #menu ul a /* IE7 */
   {height: 10px;} */


#sheet
  {
    border-bottom: 0cm;
  }

  #message_of_success p{
    font-size: 35px;
     background-color: #8eac00;
  }

  #message_of_success {
    text-align: center;
    width: 600px;
    margin: -1000px 100px 0px 400px; 
  }

  #goods{
    margin-left: 2px;
  }
