/* this symbol influent for all things in the page
 {
    
    font-family: sans-serif;
  }


  #form {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
  }
  
  label, p {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    width: 100px;
  }
  p {
    width: 250px;
  }
  #form .pic {
    width: 100px;
    height: 30px;
    background: url(http://htmlbook.ru/files/images/practical/24.png);
    background-position: -2px 105px;
  }
  
  #number {
    position: relative;
    top: -20px;
  }
  .menu, .picinput {
    width: 200px;
    height: 20px;
  }
  .menu:invalid + span:after {
    content: '\2718';
    color: red;
    margin-left: 7px;
  }
  .menu:valid + span:after {
    content: '\2714';
    color: green;
    margin-left: 7px;
  }
  .picinput:focus + span:after {
    content: '\2718  Невірне число';
    font-size: 14px;
    color: red;
    position: relative;
    top: -20px;
    margin-left: 7px;
  }
  .picinput:valid + span:after {
    content: '\2714';
    color: green;
    position: relative;
    top: -20px;
    margin-left: 7px;
  }
  .button {
    width: 100%;
    text-align: center;
    background: lightgrey;
    border-radius: 5px;
    padding: 10px 0;
  }
  
  .qwe {
    border: 1px solid green;
    width: 180px;
    border-radius: 50px;
    background: linear-gradient(to bottom, green, lightgreen, green);
    line-height: 2em;
    margin: 0;
    font-weight: normal;
  } 
  #button {
    display: none;
  }
  #form label:nth-of-type(3n) {
    margin-bottom: 30px;
  }
  
  #un_messages
{ 
  margin: 20px;
  text-align: center;
  height:180px; 
}

  #un_words
  { 
    width: 40%;
    margin-top: 14px;
    font-size: 20px;
    background-color: #fd010181;
  }
  #success_messages
{ 
  margin: 20px;
  text-align: center;
  height:180px; 
}
  #success_words
  { 
    
    width: 40%;
    margin-top: 14px;
    font-size: 20px;
    background-color: #01fd4081;
  }
  
  
  
  /* for manage.php */
  /* #manage_goods 
  { */
    /* background-color: rgb(30, 255, 0); */
/* 
   size: 100px;
  }
   #products_name {
    margin: 30px;
     width: 450px;
     height: 30px;

  }

  #brand_name {
    margin: 30px;
    width: 450px;
    height: 30px;
  }

  #category_of_products {
    margin: 30px;
    background-color: azure;
  }

  #mini_description {
    margin: 30px;
    width: 450px;
    height: 60px;
  } */

  /* this is for part of description */
  /* #description_name {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    width: 100px;
  }
  #description {
    margin: 30px;
    margin-left:153px;
    width: 450px;
    height: 180px;
  }
  
  #upload_image {
    margin: 30px;
    width: 450px;
    height: 30px;
  }

  #set_price {
    margin: 30px;
    height: 30px;
  }

  #sale {
    margin: 30px;
    height: 30px;
  }

  #quantity {
    margin: 30px;
    height: 30px;
  }

  #datetime {
    margin: 30px;
    height: 30px;
  }

  #visible {
    margin: 30px;
    height: 30px;
  } */

  /* for part of download images */
  /* .for_images {
    background-color: cornsilk;
    height: 20%;
  }

  #main_image {
    margin: 30px;
  }

  #multi_image {
    margin: 30px;
  }  */

     

/* DELETE CODE ABOVE  */




/* the code below for registration  */
#registration_button_submit {
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

/* the code below for registration vindow  */
#registration_window {
  background-color: whitesmoke;
  width: 500px;
  min-height: 690px;
  position: absolute;
  z-index: 5;
  display: none;
  margin: 20px;
  margin-left: 30%;
}
/* the code below for pop up messages for registration message  */
.registration_message_place {
  background-color: wheat;
  /* position of text in block  */
  text-align: center;
  position: absolute;
  margin-left: 40%;
  margin-top: 2%;
  padding: 10px;
  width: 330px;
  height: 130px;
  font-size: 18px;
  font-style: italic;
  display: none;
  border: solid;
  z-index: 6;
  /* the code below for displaying message text inside message box   */
  white-space: normal;
}


/* main container registration from login  */
#switch_to_registration_id:hover {
  cursor: pointer;
  transition: transform .2s;
  background-color:  #53A630;
}

/* the three block of code below for switch_to_registration */
.switch_to_registration {
  margin-top: 30px;
  background-color: wheat;
  height: 80px;
  display: block;
}
/* the code below for registration question */
#registration_question {
  height: 50px;
  text-align: center;
}
#registration_from_login {
  text-align: center;
  height: 50px;
}
/* the end of block of code for .switch_to_registration  */
