/* the code below for validation window  */
.active_validation {
   display: block!important;
}

.error {
    color: red;
  }
  
.container {
    z-index: 6;
}

.validation_container {
    display: none;
}

/* first validation container  */
#validation_container1 {
    margin-left: 20px;
}

/* main title */
#main_title {
    text-align: center;
    min-width: 48vh;
}


#user_validation img {
    width: 8%;
    height: 8%;
    float: right;
}

#log_inout_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

/* the code below display user name and image(FB)  */
.user_info_block {
    text-align: center;
    position: relative;
    cursor: pointer;
}
/* the code below for block if user hasn't loged in yet*/
.login_user_block {
    text-align: center;
    position: relative;
    cursor: pointer;
}


/* the code below for log out button  */
#log_out_button {
    text-align: center;
    position: relative;
    cursor: pointer;
}

/* the codes below for log window  */
#log_in_window {
    background-color: whitesmoke;
    width: 500px;
    height: 550px;
    position: absolute;
    z-index: 5;
    margin: 20px;
    margin-left: 30%;
    /* display: inline-block; */
}
/* the code below for login button  */
#login_button {
    width:  65px;
    height: 40px;
}
/* the code below for go back button to login  */
#go_back_login {
    margin-top: 30px;
    cursor: pointer;
}
#go_back_login:hover {
    transition: transform .2s;
    background-color:  #53A630;
}
.form-group_go_back {
    cursor: pointer;
    text-align: center;
}

/* forget_password  */
#block_enter_forgot {
    width: 100%;
}


/* the code below for pop up messages for login message  */
.login_message_place {
    background-color: wheat;
    /* position of text in block  */
    text-align: center;
    /* maybe delete absolute position in the future  */
    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
    padding: 10px;
    width: 330px;
    height: 130px;
    font-size: 18px;
    font-style: italic;
    display: none;
    border: solid;
    z-index: 6;
    /* the code below for displaying message text inside message box   */
    white-space: normal;
}
/* the code below for displays messages */
.validation_display_messages {
    display: block;
}

/* the code below for input fields  */
.user_information {
    width: 40%;
}

/* the code below for reload window  */
#reload_window_1 {
    display: inline-block;
    white-space: nowrap;
    
}
/* the code below for reload window */
.reload_container  {
    /* display: inline-block; */
}

/* the code below for fb user image */
#facebook_user_image {
    border-radius: 50%;
    width: 40px;
}

/* the code below for user logged in menu  */
#user_loggedin_menu {
    display: none;
    width: 250px;
    height: 150px;
    position: absolute;
    /* the code below position on the page  */
    top: 80px;
    background-color: whitesmoke;
    z-index: 1;
}
/* hover for list li in menu */
.user_loggedin_menu_li:hover {
    transition: transform .2s;
    background-color:  #53A630;
}
/* the code below for list li in menu  */
#user_loggedin_menu li {
    display: block;
    padding: 10px;
    cursor: pointer;
}

/* the code below for exit button */
.user_loggedin_menu li:first-child {
    margin-top: 20px;
}


