@font-face {
	font-family: 'Oleo Script';
	src: url('../fonts/OleoScript/Oleoscript.woff2') format('woff2'), url('../fonts/OleoScript/Oleoscript.woff') format('woff'), url('../fonts/OleoScript/Oleoscript.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


body{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
::selection {
    color: black;
    background: #EDF246;
}
a{
	text-decoration: none;
}

h1, h2, h3, h4, h5{
	margin: 0 auto;
	padding: 5px 0;
}
/*sidebar*/
#menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;

	margin-top: 30px;

}
#menu li{
	list-style: none;
}
#menu li a{
	font-weight: 400;
	font-size: 18px;
	color: #F2F2F2;
	transition: all .3s;
}
#menu li a:hover{
	color: #EDF246;
}


/* Burger menu */

#burger-menu-button{
	display: none;
	position: absolute;
	right: 15px;
	width: 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: all linear .3s;
	padding: 4px;
	z-index: 1;
}

#burger-menu-button.active{
	background: #53A630;
}
#line-1,#line-2,#line-3{
	width: 90%;
	background: #fff;
	height: 3px;
	margin: 4px auto;
	border-radius: 5px;
	transition: all linear .3s;
}

#line-1.active{
	-webkit-transform: translate(0px,2px) rotate(45deg);
	transform: translate(0px,2px) rotate(45deg);
}

#line-2.active{
	opacity: 0;
}

#line-3.active{
	-webkit-transform: translate(0px, -12px) rotate(-45deg);
	transform: translate(0px, -12px) rotate(-45deg);
}

#burger-menu{
	background: #53A630;
	width: 100%;
	padding: 30px 10px 10px 10px;
	color: #fff;
	font-size: 1.5rem;
	display: none;
	top: 8px;
	border-radius: 5px;
}

#burger-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#burger-menu ul li a{
	margin: 8px 0;
	font-weight: 400;
	font-size: 18px;
	color: #F2F2F2;
}

/*header*/
.header{
	background-color: #53A630;
	padding: 10px 0;
}
.header__logo{
	text-align: center;
}
.header__logo a{
	font-family: 'Oleo Script';
	font-weight: 400;
	font-size: 36px;
	line-height: 80px;
	color: #F2F2F2;
	transition: all .3s;
}

.header__logo a:hover{
	color: #EDF246;
}

.header__basket-total{
	text-align: right;
	/*line-height: 16px;*/
	color: #F2F2F2;
	margin-top: 15px;
}

@media(max-width: 767.9px){
	.header__basket-total{
		padding: 30px 0;
		text-align: center;
	}
}


.header__basket-total a{
	color: #EDF246;
}


/*catalog*/

.catalog{
	padding: 20px 0;
	text-align: center;
	background-color: #F2F2F2;
}

.product{
	transition: all .3s;
}



.product:hover{
	-webkit-box-shadow: 0 0 10px 0 #0D0D0D;
	-moz-box-shadow: 0 0 10px 0 #0D0D0D;
	box-shadow: 0 0 10px 0 #0D0D0D;
	z-index: 10;
}

.product__img {
	margin-top: 15px;
}
.product__img img{
	width: 100%;
	height: 150px;
}
@media (max-width: 575.9px){
	.product__img img{
		max-width: 350px;
		height: 250px;
	}
}
.product-name{
	font-size: 20px;
	font-weight: 700;
}

.product-menu{

}
.product-price{
	margin: 10px auto;
	padding: 5px;
	border-radius: 5px;
	background-color: #EDF246;
	width: 100px;
    position: relative;
	font-weight: 700;
}

.sale::after {
    content: 'SALE!';
    position: absolute;
    font-size: 1em;
    font-style: italic;
    color: #D40000;
    bottom: 15px;
    right: -15px;
}

.how-many{
	padding-top: 10px;
}

.how-many .input-text{
	text-align: center;
	border: 1px solid #EDF246;
}

.stock{
	color: #808080;
}
.btn{
	margin-bottom: 10px;
	border: none;
	background-color: #EDF246;
	cursor: pointer;
	width: 24px;
	height: 24px;
}
.btn:hover{
	-webkit-box-shadow: 0 0 10px 0 #EDF246;
	-moz-box-shadow: 0 0 10px 0 #EDF246;
	box-shadow: 0 0 10px 0 #EDF246;
	background-color: #e7ee00;
}

.add-to-cart{
	margin: 10px auto;
	border: none;
	background-color: #EDF246;
	cursor: pointer;
	width: 100%;
	height: 30px;
}

.footer{
	background-color: #53A630;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	color: #F2F2F2;
}

.footer .footer__link{
	margin: 10px auto;
}
.footer .footer__link a{
	text-align: center;
	color: #EDF246;
}

/* Popup window */
.popup {
	display: none;
	position: fixed;
	z-index: 11;
	padding: 100px 0; /* Location of the content-box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/ /* For custom scrollbar */
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.popup-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
}

.popup-content h2 {
	font-size: 32px;
	padding-top: 0;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/*TODO Restyle numeric-circlied counters */

.basket {
    width: 55px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 5px;
    background-color: #53A630;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
	z-index: 1;
}

/* Checkout */
.checkout-button{
	font-size: 20px;
	transition: all .3s;
}
.checkout-button:hover{
	color: #ffa300;
}
.checkout-cart{
	 
}
.checkout-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	background-color: #ececec;
	border-top: 1px solid #fff;
}
@media (max-width: 767.9px){
	.checkout-item {
		display: block;
		margin-left: 100px;
		margin-right: 100px;
		text-align: center;
	}
}

@media (max-width: 575.9px){
	.checkout-item {	
		margin-left: 10px;
		margin-right: 10px;
	}
	.navigation {
		display: none !important;
	}
	#burger-menu-button {
		display: block;
	}
	.header__logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

.checkout-item .product-name{
	padding: 5px 10px;
	/*width: 40px;*/
}

.checkout-item .product__img img{
	width: 70px;
	height: 50px;
}

.checkout-quantity{
	padding: 10px 10px;
}
.checkout-price{
	padding: 10px 10px;
	/*width: 100px;*/
}
.checkout-cancel{
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #ff3c3c;
	cursor: pointer;
	height: 30px;
	padding: 6px 10px;
	margin-top: 20px;
}

.checkout-cancel:hover{
	background-color: #ee1616;
}
.checkout-total{
	margin: 20px 0;
	font-weight: 400;
}


/*Итог в корзине*/

.checkout__end{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 justify-content: space-between;
 font-weight: 700;
}

.checkout__end-btn{
	font-weight: 700;
	margin-top: 10px;
	width: 200px;
	height: 30px;
}


/*Description*/
.description_block{
	background-color: #ececec;
	padding: 10px;
}

.descr_img{
	margin: 0 auto;
	max-width: 300px;
}

.descr_img img{

	width: 100%;
}
.descr_name{
}
.descr_name p{
	margin: 0 auto; 
	font-size: 20px;
}

.descr_name h4{
	font-size: 24px;
}
.descr_brand{
	
}
.descr_main{

}
.descr_main p{
	font-weight: 700;
}

.descr_brand h5{
	font-size: 18px;
}
.descr_brand p{
	margin: 0 auto; 
	font-size: 16px;
}
.descr_sale {
	font-weight: 700;
	color: #ff3c3c;
}
.descr_sale p{
	color: #000;
}
.descr_price p{
	font-weight: 700;
}